{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "corejs": {
          "version": "2",
          "proposals": true
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "styled-components",
    "@babel/plugin-transform-destructuring",
  ]
}